.photo__item {
    margin: 0 auto 20px;
    min-height: 361px;
    background: #FFFFFF;
    border-radius: 10px;
}

.photo__item:last-of-type {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .photo__item {
        margin: 0;
    }
}