.popup__container {
    position: relative;
    width: 282px;
    min-height: 322px;
    background: #FFFFFF;
    color: #000000;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1280px) {
    .popup__container {
        width: 430px;
        min-height: 330px;
    }
}