.photo__like-button {
    background: #FFFFFF url(../../../images/photo/photo-like.svg) center no-repeat;
    width: 22px;
    height: 19px;
    border: 0;
    transition: all 1s linear 0s;
}

.photo__like-button:hover {
    opacity: 60%;
    cursor: pointer;
}

.photo__like-button:active {
    background-color: #000000;
}