@import url(../vendor/normalize.css);
@import url(../vendor/fonts/font.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__item/profile__item.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__heading/profile__heading.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__job/profile__job.css);
@import url(../blocks/profile/__photo-add-button/profile__photo-add-button.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__window/popup__window.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__name-input/popup__name-input.css);
@import url(../blocks/popup/__job-input/popup__job-input.css);
@import url(../blocks/popup/__save-button/popup__save-button.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/photo-grid/__photo/photo-grid__photo.css);
@import url(../blocks/photo-grid/__caption/photo-grid__caption.css);
@import url(../blocks/photo-grid/__title/photo-grid__title.css);
@import url(../blocks/photo-grid/__like-button/photo-grid__like-button.css);
@import url(../blocks/footer/footer.css);