.photo-grid__like-button {
    background: #FFFFFF url(../../../images/photo-grid/photo-grid-like.svg) center no-repeat;
    width: 22px;
    height: 19px;
    border: 0;
}

.photo-grid__like-button:hover {
    opacity: 60%;
    cursor: pointer;
}

.photo-grid__like-button:active {
    background-color: #000000;
}